@model IEnumerable<Chatgptsociospagamentos.Models.Associado>

@{
    ViewData["Title"] = "Index";
}

<h5>Controle de sócios</h5>
<hr />
<p>
    <a asp-action="Create">Cadastrar novo Associado</a>
</p>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Nome do Associado</th>
            <th>Documento</th>
            <th>E-Mail</th>
            <th>Telefone</th>
            <th>Data Aniversário</th>
            <th>Ativo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pagamento in Model)
        {
            <tr>
                <td>@pagamento.Nome</td>
                <td>@pagamento.Documento</td>
                <td>@pagamento.Email</td>
                <td>@pagamento.Telefone</td>
                <td>@pagamento.DataAniversario.ToString("dd/MM/yyyy")</td>
                <td>@pagamento.Ativo</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@pagamento.AssociadoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@pagamento.AssociadoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@pagamento.AssociadoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAniversario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAniversario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AssociadoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AssociadoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AssociadoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
